@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Navbar Styles */

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #006192;
  color: #fff;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

/* Post styles */

.post-container {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  border: #ccc 1px solid;
  border-radius: 5px;
  margin: 0.7rem 0;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card h4 {
  background-color: #3b70be;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  min-height: 30%;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}
.card p {
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
.loader {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
